.btn
  padding: 10px 20px
  border: none
  border-radius: 3px
  transition: .3s

button.btn--add-to-cart
    font-size: 14px
    max-width: max-content
    background-color: $btn-color
    color: $white-color

    &:hover
      background-color: darken($btn-color, 10%)

button.btn--hide-filters
  display: block
  font-size: 12px
  padding: 7px 15px
  max-width: max-content
  background-color: $link-color
  color: $white-color
  margin: 0 auto
  text-align: center

  &:hover
    background-color: darken($link-color, 10%)
